.elementor-section-height-full {
  height: 100vh;
}


body {
  .elementor-section.elementor-section-boxed {
    > .elementor-container {
      max-width: 1440px;
    }
  }

  .attachment-post-thumbnail.size-post-thumbnail.wp-post-image {
    height: auto !important;
  }
}