#artworks {
  .artwork-example {
    margin-bottom: 50px;
    filter: $shadowCard;
    .artwork-title {
      margin-top: 20px;
    }
    img {
      height: auto !important;
    }
  }  
}

@media(min-width: $md) {
  #artworks {
    .artworks-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 40px;
      .artwork-example {
      }
    }
  } 
}


@media(min-width: $lg) {
  #artworks {
    .artworks-grid {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 60px;
    }
  } 
}