#contact-modal {
  min-height: 100vh;
  min-width: 100%;
  background-color: $skrimDark;
  position: fixed;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: -100vh;
  // transition: bottom .3s ease-in;
  &.open {
    bottom: 0;
  }
  &.closed {
    bottom: -100vh;
  }
  .contact-modal-inner {
    background-color: $white;
    min-width: 300px;
    z-index: 100;
  }
}