/*///////////////////////////////////////////////////////////////////////////////
Footer 
*/


footer#footer {
  background-color: $gray100;
  width: 100%;
  padding: 70px 0 5px;

  .footer-inner {
    margin: 0;
  }

  .footer-info {
    text-align: center;
    margin-bottom: 60px;
  }

  .footer-menus {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    grid-gap: 40px;
    margin-bottom: 70px;
  }

  .footer-columns {
    padding-top: 50px;
    padding-bottom: 70px;
  }

  h4 {
    color: $gray300;
    border-bottom: solid 1px $gray200;
    line-height: 26px;
    margin-top: 0;
    margin-bottom: 10px;
  }

  .site-logo {
    img {
      width: 100%;
      max-width: 80px;
      height: auto;
    }
  }

  ul {
    padding: 0;
    margin-bottom: 0;
    margin-top: 10px;
    li {
      list-style: none;
      a {
        color: $gray500;
        text-decoration: none;
        font-size: 12px;
        line-height: 26px;
        &:hover {
          color: $gray600;
        }
      }
    }
  }

  .copyright {
    margin: 50px auto 0;
    color: $gray300;
    font-family: $fontText;
    font-weight: 300;
    text-align: center;
    p {
      font-size: 10px;
    }
  }
}

@media(min-width: $md) {
  footer#footer {
    .footer-inner {
      display: grid;
      grid-template-columns: 1fr 2.2fr;
      grid-gap: 60px;
    }
    .footer-info {
      text-align: left;
    }
    .footer-menus {
      grid-gap: 60px;
    }
    .copyright {
      margin-top: 0;
      font-size: 10px;
    }
  }
}


@media(min-width: $lg) {
  footer#footer {
    .footer-inner {
      margin: 0 auto;
    }
    .site-logo {
      img {
        max-width: 120px;
      }
    }
    h4 {
      padding-bottom: 10px;
      font-size: 18px;
    }
    ul {
      li {
        a {
          font-size: 14px;
        }
      }
    }
  }
}

@media(min-width: $xl) {
  footer {
    padding: $headerMarginXl;
  }
}