/*///////////////////////////////////////////////////////////////////////////////
Forms
*/

#main .elementor-column-gap-wider>.elementor-column>.elementor-element-populated {
  padding: 20px;
}


div.wpforms-container-full {
  .wpforms-form {
    input[type=submit], 
    button[type=submit], 
    .wpforms-page-button {
      background-color: $white;
      color: $roseGold;
      padding: 15px 30px;
      min-width: 150px;
      font-family: $fontHeading;
      font-style: italic;
      font-weight: bold;
      border: solid 1px $roseGold;
      width: 100%;

      &:hover {
        background-color: $roseGold;
        color: white;
        border: solid 1px $roseGold;
      }
    }
  } 
}




#main {
  input,
  textarea {
    background: $white;
    border: 1px solid $roseGold;
    border-radius: 0;
    font-family: $fontText;
    font-size: 14px;
  }

  label {
    font-family: $fontHeading;
    font-weight: 300;
    display: block;
    margin-bottom: 7px;
    font-weight: bold;
    font-style: italic;
    color: $gray500;
  }

  .wpforms-field {
    padding: 0;
    margin: 0 0 30px;
  }

  .wpforms-error {
    margin-top: 5px;
  }

  .elementor-widget-shortcode {
    margin: -10px;
    width: calc(100% + 20px);
  }


  #newsletter-signup {
    margin-top: 40px;
    label {
      max-width: 550px;
      margin: 0 auto;
    }
  }

  .mc4wp-response {
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
    color: $gray400;
  }
}


@media(min-width: $md) {
  #main {
    .input-with-submit {
      input[type=email] {
        width: 80%;
      }
      input[type=submit] {
        width: 20%;
      }
    }
  }  
}

